.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.bookAppoitnemntButton {
  width: 570px;
  height: 52px;
  background: #4894fe;
  border-radius: 14px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  border: none;
  color: #ffffff;
}
.unAvaliableBookAppoitnemntButton {
  width: 570px;
  height: 52px;
  background: #a1a1a1;
  border-radius: 14px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  border: none;
  color: #ffffff;
}
